element.style {
}
footer {
    height: 7.8em;
    color: #F3F3F3;
    padding: 10px;
    width: 100%;
}
footer, html {
    position: relative;
    background-color: #37392E;
}
footer {
    display: block;
}